header {
  background-image: url('../img/topo.png');
  width: 100%;
  height: 300px;
}

.titulo {
  color: #fff;
  padding-top: 4%;
  padding-left: 2%;
}

.conteudo {
    width: 80%;
    margin: auto;
    margin-top: 50px;    
  }
  
  .hide {
    display: none;
  }
  
  a,
  input[type="submit"] {
    background-color: #DC143C;
    color: #fff !important; 
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none !important;
    font-size: 1em;
    border: none;
    cursor: pointer;
  }
  
  a:hover,
  input[type="submit"]:hover {
    opacity: 1;
  }
  
  form {
    width: 300px;
  }
  
  form div {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5em;
  }
  
  form label {
    font-weight: bold;
    margin-bottom: 0.3em;
  }
  
  form input,
  form textarea {
    padding: 5px;
  }
  